<template>
  <div id="app">
    <navbar/>
    <router-view></router-view>
  </div>
</template>

<script>
import navbar from "@/components/navbar.vue";
import conversation from "@/views/Conversation.vue";

export default {
  components: {
    navbar
  },
  mounted(){
    //Check validity of the token before
      
    if(localStorage.token){
      this.$store.dispatch('initInstanceAction',localStorage.token);
    }
  }
};
</script>



<style>
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
