<template>
  <div class="container-fluid myContainer">
    <div class="row border">
      <div class="col-md-3 col-sm-10 mt-1 ml-1 text-center">
        <h2>Messages</h2>
      </div>
    </div>
    <div class="row divContent">
      <!-- bizarre que l'offset ne marche pas -->

      <div class="col-md-3 col-sm-3 col-2  ml-1 card border-0 form-elegant scrollbar-light-blue">
        <div v-if="!isFriendConnected" class="card-header text-center">
          <div class="alert alert-danger my-2">Pas d'amis connectées</div>
        </div>
        <conversationItem
          :key="client.id"
          v-for="client in friendConnected"
          :client="client"
          v-on:changeViewEvent="loadDiscution($event)"
        />


      </div>

      <div v-if="isClientMessage" class="col-md-6 col-sm-8 col-9  ml-2 card">
        <!-- <h1 class="card-header">
          <button v-on:click="getBack" class="btn btn-primary btn-lg mb-1">Back</button>
        </h1>-->

        <section class="form-elegant scrollbar-light-blue" id="conversationArea">
          <conversationTextItem
            :key="message.messageID"
            v-for="message in convHistory"
            :text="message.message"
            :fromFriend="message.exp.id == clientMessage.id"
          />
        </section>
        <div class="row">
          <div class="col-md-10">
            <input
              type="text"
              class="form-control border border-primary bg-white rounded position-sticky"
              id="messageInput"
              placeholder="Message"
              autocomplete="off"
              data-emojiable="true"
              v-model="messageToSend"
            />
          </div>
          <div class="col-md-2">
            <button
              class="btn btn-sm btn-primary form-control"
              id="buttonEnter"
              v-on:click="sendMessage"
            >Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import conversationItem from "../components/conversationItem.vue";
import conversationTextItem from "../components/conversationTextItem.vue";
export default {
  // watch: {
  //   loadingConv: function() {
  //     if(this.clientMessage){
  //       this.loadingConv = false;
  //     }
  //   }
  // },
  mounted() {
    //send resquest to the server to get user connected

    this.$store.dispatch("loadFriendConnectedAction");
  },
  data() {
    return {
      showDiscution: true,
      loadingConv: false,
      clientConnected: [],
      clientMessage: null,
      messageToSend: "",
      conversationHistory: [],
      userSocket: null
    };
  },
  components: {
    conversationItem,
    conversationTextItem
  },
  methods: {
    loadDiscution(client) {
      console.log("load discution");
      this.loadingConv = true;
      this.clientMessage = client;

      //Make the request to get all the conversation
      
      this.$store.dispatch("deleteMessageNotificationAction",client);
      this.$store.dispatch("loadConversationHistoryAction", client);

      setInterval(() => {
        this.showDiscution = false;
        this.loadingConv = false;

        // $(document).ready(() => {
        //   var input = document.getElementById("messageInput");
        //   input.addEventListener("keyup", function(event) {
        //     if (event.keyCode === 13) {
        //       event.preventDefault();
        //       document.getElementById("buttonEnter").click();
        //     }
        //   });
        // });
      }, 200);
    },
    sendMessage() {
      const userID = this.clientMessage.id;
      const message = this.messageToSend;

      if (message != "") {
        const data = {
          room: userID,
          message: message
        };
        this.$store.dispatch("sendMessageAction", data);

        this.messageToSend = "";
      }
    },

    disconnect() {
      if (this.userSocket) {
        this.userSocket.disconnect();
        this.userSocket = null;
      }
    }
    // getBack() {
    //   console.log("ok");
    //   this.loadingConv = true;
    //   this.clientMessage = null;
    // }
  },
  computed: {
    isFromFriend(message) {
      return message.exp == this.clientMessage;
    },
    isFriendConnected() {
      return this.friendConnected.length > 0;
    },
    getUserSocket() {
      return this.$store.state.userSocket;
    },
    convHistory() {
      return this.$store.state.convHistory;
    },
    friendConnected() {
      return this.$store.state.friendConnected;
    },
    isClientMessage(){
      return this.clientMessage;
    }
  }
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
.form-elegant {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.myContainer {
  min-height: 80vh;
}
.divContent {
  min-height: 100%;
}
#conversationArea {
  height: 85vh;
}
@media (max-height: 800px) {
  #conversationArea {
    height: 80vh;
  }
  .form-elegant {
    height: 78vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.form-dark .font-small {
  font-size: 0.8rem;
}

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem;
}

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px;
}

.form-dark .md-form label {
  color: #fff;
}

.form-dark input[type="text"]:focus:not([readonly]) + label {
  color: #fff;
}

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #78c2ad;
}
</style>


