<template>
  <div class="pt-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-1 col-lg-2 offset-lg-1 col-xl-3"></div>

        <div class="col-md-8 col-sm-10 col-lg-8 col-xl-4">
          <form @submit.prevent="sendLeaf">
            <div
              id="contact-form"
              class="form-container"
              data-form-container
              style="color: rgb(46, 125, 50); background: rgb(255, 255, 255);"
            >
              <div class="row">
                <div class="form-title"></div>
              </div>
              <div class="input-container border">
                <div class="row">
                  <span class="req-input message-box valid">
                    <span
                      class="input-status"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Post Contents."
                    ></span>
                    <textarea
                      type="textarea"
                      v-model="leafMessage"
                      data-min-length="10"
                      placeholder="Hey quoi de neuf !"
                    ></textarea>
                  </span>
                </div>
                <div class="row submit-row">
                  <button type="submit" class="btn btn-block submit-form valid">Partager</button>
                </div>
              </div>
            </div>
          </form>
          <post :key="index" :leaf="element" v-for="(element,index) in leafs"></post>
        </div>

        <div class="col-md-2">
          <div class="col-md-6"></div>
          <!-- <div class="col-md-8">
            <alert
              :key="index"
              v-for="(element,index) in alert"
              :type="element.type"
              :content="element.content"
              :extra="element.extra"
            />
          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import post from "@/components/post.vue";
import alert from "@/components/alert.vue";

export default {
  data() {
    return {
      welcomeAnnounce: "Welcome",
      user: {},
      alertMessage: "Message",
      leafMessage: "",
      leafErrorMessage: "",
      leafs: []
    };
  },
  mounted() {
    this.loadLeaf();
  },
  methods: {
    loadLeaf() {
      this.$store.dispatch("initInstanceAction");
      const URL = "http://localhost:3000/leaf";

      const options = {
        method: "GET",
        headers: {
          Authorization: "Bearer " + localStorage.token,
          "Content-Type": "application/json"
        }
      };

      fetch(URL, options).then(response => {
        response
          .json()
          .then(data => {
            this.leafs = data.latestLeafs;
          })
          .catch(errResponse => {
            //handle the error
          });
      });
    },
    sendLeaf() {
      if (this.leafMessage == "") {
        this.leafErrorMessage = "Veuillez taper un leaf";
        return;
      }

      const URL = "http://localhost:3000/leaf";
      const data = {
        leaf: this.leafMessage
      };

      const options = {
        method: "POST",
        headers: {
          Authorization: "Bearer " + localStorage.token,
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      };
      console.log("Sended");
      fetch(URL, options).then(response => {
        response
          .json()
          .then(data => {

            console.log(data);
            this.loadLeaf();
          })
          .catch(errResponse => {
            //handle the error
          });
      });
    },
    clearLeafForm() {
      this.leafMessage = "";
      this.leafErrorMessage = "";
    }
  },
  computed: {
    // alert() {
    //   return this.$store.state.alert;
    // },
    // hasAlert() {
    //   return this.$store.state.alert.lenght > 0;
    // }
  },
  components: {
    post,
    alert
  }
};
</script>

<style scoped>
.form-container div,
.form-container span {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.form-container ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

.form-container :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}

.form-container ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}

.form-container :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.form-container :placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #999;
}

.oauth-buttons {
  text-align: center;
}
.row {
  text-align: center;
}
#login-form {
  min-width: 375px;
}
.login-container {
  width: 400px;
  height: 330px;
  display: inline-block;
  margin-top: -165px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -200px;
}
.form-container .create-account:hover {
  opacity: 0.7;
}
.form-container .create-account {
  color: inherit;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.oauth-buttons .fa {
  cursor: pointer;
  margin-top: 10px;
  color: inherit;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 5px;
  margin-top: 15px;
}
.oauth-buttons .fa:hover {
  color: white;
}
.oauth-buttons .fa-google-plus:hover {
  background: #dd4b39;
}
.oauth-buttons .fa-facebook:hover {
  background: #8b9dc3;
}

.oauth-buttons .fa-linkedin:hover {
  background: #0077b5;
}

.oauth-buttons .fa-twitter:hover {
  background: #55acee;
}

.form-container .req-input .input-status {
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
}
.form-container .input-status::before {
  content: " ";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  border-radius: 50%;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-container .input-status::after {
  content: " ";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  border-radius: 50%;
  background: #00bcd4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-container .req-input {
  width: 100%;
  float: left;
  position: relative;
  background: #00bcd4;
  height: 40px;
  display: inline-block;
  border-radius: 0px;
  margin: 5px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-container div .row .invalid:hover {
  background: #ef9a9a;
}

.form-container div .row .invalid {
  background: #e57373;
}

.form-container .invalid .input-status:before {
  width: 20px;
  height: 4px;
  top: 19px;
  left: 10px;
  background: white; /*#F44336;*/
  border-radius: 0px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.form-container .invalid .input-status:after {
  width: 20px;
  height: 4px;
  background: white;
  border-radius: 0px;
  top: 19px;
  left: 10px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.form-container div .row .valid:hover {
  background: #a5d6a7;
}

.form-container div .row .valid {
  background: #81c784;
}

.form-container .valid .input-status:after {
  border-radius: 0px;
  width: 17px;
  height: 4px;
  background: white;
  top: 16px;
  left: 15px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-container .valid .input-status:before {
  border-radius: 0px;
  width: 11px;
  height: 4px;
  background: white;
  top: 19px;
  left: 10px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-container .input-container {
  padding: 0px 20px;
}

.form-container .row-input {
  padding: 0px 5px;
}

.form-container .req-input.input-password {
  margin-bottom: 0px;
}
.form-container .req-input.confirm-password {
  margin-top: 0px;
}

.form-container {
  padding-bottom: 20px;
  border-radius: 0px;
  background: #b3e5fc;
  color: #00838f;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-container .form-title {
  font-size: 25px;
  color: inherit;
  text-align: center;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-container .submit-row {
  padding: 0px 0px;
}

.form-container .btn.submit-form {
  margin-top: 15px;
  padding: 12px;
  background: #00bcd4;
  color: white;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-container .btn.submit-form:focus {
  outline: 0px;
  color: white;
}

.form-container .btn.submit-form:hover {
  background: #00cde5;
  color: white;
}

.form-container .tooltip.top .tooltip-arrow {
  border-top-color: #00bcd4 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-arrow {
  border-top-color: #e57373 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-inner::before {
  background: #e57373;
}
.form-container .tooltip.top.tooltip-invalid .tooltip-inner {
  background: #ffebee !important;
  color: #e57373;
}

.form-container .tooltip.top.tooltip-valid .tooltip-arrow {
  border-top-color: #81c784 !important;
}

.form-container .tooltip.top.tooltip-valid .tooltip-inner::before {
  background: #81c784;
}
.form-container .tooltip.top.tooltip-valid .tooltip-inner {
  background: #e8f5e9 !important;
  color: #81c784;
}

.form-container .tooltip.top .tooltip-inner::before {
  content: " ";
  width: 100%;
  height: 6px;
  background: #00bcd4;
  position: absolute;
  bottom: 5px;
  right: 0px;
}
.form-container .tooltip.top .tooltip-inner {
  border: 0px solid #00bcd4;
  background: #e0f7fa !important;
  color: #00acc1;
  font-weight: bold;
  font-size: 13px;
  border-radius: 0px;
  padding: 10px 15px;
}
.form-container .tooltip {
  max-width: 150px;
  opacity: 1 !important;
}

.form-container .message-box {
  width: 100%;
  height: auto;
}

.form-container textarea:focus,
.form-container textarea:hover {
  background: #fff;
  outline: none;
  border: 0px;
}

.form-container .req-input textarea {
  max-width: calc(100% - 50px);
  width: 100%;
  height: 80px;
  border: 0px;
  color: #777;
  padding: 10px 9px 0px 9px;
  float: left;
}
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus,
.form-container select {
  background: #fff;
  color: #777;
  border-left: 0px;
  outline: none;
}

.form-container input[type="text"]:hover,
.form-container input[type="password"]:hover,
.form-container input[type="email"]:hover,
.form-container input[type="tel"]:hover,
. form-container select {
  background: #fff;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
input[type="tel"],
form-container select {
  width: calc(100% - 50px);
  float: left;
  border-radius: 0px;
  border: 0px solid #ddd;
  padding: 0px 9px;
  height: 40px;
  line-height: 40px;
  color: #777;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
</style>


