<template>
  <div >


    <div class="homeBanner text-center mt-5">
        <div class="homeBanner">
          <h1 class="display-3">My social network</h1>
          <p class="lead">Learning Auth is fun! </p>
          <hr class="my-4">
          
          <router-link :to="{name : 'signup'}"  href="#" role="button" width="100px">
            <button class="btn bg-primary btn-lg px-3 py-1" >Sign up</button>
          </router-link>

           <router-link :to="{name : 'signin'}"  href="#" role="button" width="100px">
            <button class="btn bg-primary btn-lg ml-5 px-3 py-1" >Sign in</button>
          </router-link>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: "home"
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
.homeBanner {
  height: 500px;
}
</style>

