<template>
  <div class="row">
    <div class="col-md-4 offset-md-4 my-3">
      <div v-if="singingUp" class="text-center my-5">
        <img src="../assets/load.svg" alt="Loading ..." srcset="">
      </div>
       
      <div v-if="!singingUp" class="card border-primary">
        <div class="card-body">
          <h4 class="card-title">Signup 🔐</h4>
          <form @submit.prevent="signup">
            <div class="form-group">
              <input
                v-model="user.username"
                type="text"
                class="form-control"
                id="username"
                aria-describedby="usernameArea"
                placeholder="Enter a username"
                required
              >
              <small>
                Username must be longer than 2 characters and shorter than 30.Username can only contain alphanumeric characters
                and user-scores.
              </small>
            </div>

            <div class="form-group">
              <input
                v-model="user.password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              >
              <small>Password must be 8 or more characters long.</small>
            </div>
            <div class="form-group">
              <input
                v-model="user.confirmPassword"
                type="password"
                class="form-control"
                aria-describedby="confirmPasswordHelp"
                id="confirmPassword"
                placeholder="Confirm password"
                required
              >
            </div>
            <div v-if="errorMessage" class="alert alert-danger my-2" role="alert">{{errorMessage}}</div>
            <button type="submit" class="btn bg-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Joi from "joi";

const schema = Joi.object().keys({
  username: Joi.string()
    .trim()
    .regex(/(^[a-zA-Z0-9_]*$)/)
    .min(2)
    .max(30)
    .required(),
  password: Joi.string()
    .trim()
    .min(8)
    .required(),
  confirmPassword: Joi.string()
    .trim()
    .min(8)
    .required()
});

export default {
  data() {
    return {
      singingUp : false,
      errorMessage: "",
      user: {
        username: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  watch: {
    user: {
      handler() {
        this.errorMessage = "";
      },
      deep: true
    }
  },
  methods: {
    valideUser() {
      if (this.user.password !== this.user.confirmPassword) {
        this.errorMessage = "Password must match ❌";
        return false;
      }
      const result = Joi.validate(this.user, schema);
      if (result.error == null) {
        return true;
      }
      if (result.error.message.includes("username")) {
        this.errorMessage = "Username is invalid 😭";
        return false;
      }
      if (
        result.error.message.includes("password") &&
        result.error.message.includes("length")
      ) {
        this.errorMessage = "Password lenght invalide";
        return false;
      }

      //this.errorMessage = result.error.message;
      return false;
    },
    signup() {
      this.errorMessage = "";
      if (this.valideUser()) {
        //send data

        const URL = "http://localhost:3000/auth/signup";
        const data = {
          username: this.user.username,
          password: this.user.password
        };

        const options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        };

        fetch(URL, options).then(response => {
          if (response.ok) {
            response.json().then(content => {
              this.singingUp = true;
              const token = content.token;
              localStorage.token = token;

              setTimeout(() => {
                //redirect to the board page
                this.$router.push('dashboard');
              },1000);
              });
          } else {
            console.log("error message");
            response.json().then((error) => {
             this.errorMessage = error.message;
            }).catch((err) =>{ console.log(err.message);})
          }
        })

      }
    }
  }
};
</script>
