<template>
  <div class="row">
    <div class="col-md-4 offset-md-4 my-3">
      <div v-if="singingIn" class="text-center my-5">
        <img src="../assets/load.svg" alt="Loading ..." srcset>
      </div>

      <div v-if="!singingIn" class="card border-primary">
        <div class="card-body">
          <h4 class="card-title">Signin 🔐</h4>
          <form @submit.prevent="signin">
            <div class="form-group">
              <input
                v-model="user.username"
                type="text"
                class="form-control"
                id="username"
                aria-describedby="usernameArea"
                placeholder="Enter a username"
                required
              >
            </div>

            <div class="form-group">
              <input
                v-model="user.password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              >
            </div>
            <div v-if="errorMessage" class="alert alert-danger my-2" role="alert">{{errorMessage}}</div>
            <button type="submit" class="btn bg-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      singingIn: false,
      errorMessage: "",
      user: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    signin() {
      const URL = "http://localhost:3000/auth/signin";
      const data = {
        username: this.user.username.trim(),
        password: this.user.password
      };
      const option = {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      };
      
      this.singingIn = true;
      fetch(URL, option).then(response => {
        if (response.ok) {
          response.json().then(content => {
            //Strore the token to localStorage
            const token = content.token;
            localStorage.token = token;

            setTimeout(() => {
              this.$router.push("dashboard");
            }, 1000);
          });
        } else {
          response.json().then(error => {
            this.errorMessage = error.message;
          });
          this.singingIn = false;
        }
      });
    }
  }
};
</script>
