<template>
  <div class="alert alert-dismissible alert-info ldt-slide-right-in sticky  pr-5 mr-3 ">
    <button type="button" @click="removeAlert" class="close" data-dismiss="alert">&times;</button>

    <h4 class="alert-heading">{{type}}</h4>
    <h5>{{extra}}</h5>
    
    <p>{{content}}</p>
  </div>
</template>

<script>
export default {
  props: ["content", "type","extra"],
  methods : {
      removeAlert(){
          console.log("Removed");
      }
  }
};
</script>

<style>
</style>
