<template>
  <div>
    <div class="row mb-3 m-3 text-center my-5">
      <div class="col-md-12">
        <div v-if="fromFriend" class="col-md-7 rounded">
          <div class="row">
            <div class="col-md-2 col-sm-1 col-1 mr-2">
              <img src="../assets/loginImage.png" id="imageFriend" alt="">
            </div>
            <div class="col-md-8 col-sm-9 col-8  rounded " id="convBulleFriend">
              <h5
                class="text-left my-2"
              >{{text}}</h5>
            </div>
          </div>
        </div>  

        <div v-else class="col-md-5 offset-md-7 col-sm-7 offset-sm-5">
          <div class="row">
            <div class="col-md-12 rounded" id="convBulle">
              <h5
                class="text-right my-2"
              >{{text}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: ["fromFriend", "text"]
};
</script>

<style scoped>
#convBulle {
  background-color: #78C2AD;
}
#convBulleFriend {
  background-color: #e6ecf0;
}
#imageFriend {
  width: 30px;
  height: 30px;
}

@media (max-width : 1100px) {
  #imageFriend {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
}
</style>



