<template>
  <div>
    <div class="text-center myContainer">
      <a v-on:click="changeViewEvent" href="#" class="conversationLink">
        <div class="row border-0 myContainer">
          <div class="col-md-1 col-sm-2 pt-2 ml-3">
            <img src="../assets/loginImage.png" alt width="50px" height="50px" />
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="card-body">
              <h5 class="card-title text-left">{{client.username}}</h5>
            </div>
          </div>
          <!-- <div class="col-md-1 px-0">
            <span class="badge badge-secondary ml-1">1</span>
          </div> -->
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: ["client"],
  methods: {
    changeViewEvent() {
      this.$emit("changeViewEvent", this.client);
    }
  }
};
</script>

<style scoped>
.conversationLink {
  color: black;
  text-decoration: none;
}

.myContainer:hover {
  background-color: #f2f2f2;
  transition-duration: 3000;
  transition-delay: 1000;
  cursor: pointer;
}
</style>

