<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <router-link to="/">
      <a class="navbar-brand" href="#">Logo</a>
    </router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link :to="{name : 'dashboard'}">
            <a class="nav-link" href="#">Home</a>
          </router-link>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >Profil</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            Notifications
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <router-link :to="{name : 'conversation'}">
            <div class="row">
              <div class="col-md-8 col-sm-2 col-3">
                <a class="nav-link" href="#">Messages</a>
              </div>

              <div v-if="nbMessage > 0" class="col px-0 mr-2">
                <span class="badge badge-secondary ml-1">{{nbMessage}}</span>
              </div>
            </div>
          </router-link>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >Paramètres</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" @click="deconnexion" href="#">Deconnexion</a>
          </div>
        </li>
      </ul>

      <!-- <h5 class="my-2 mr-5">{{username}}</h5> -->
      <form class="form-inline my-2 my-lg-0" @submit.prevent="rechercheAmis">
        <input
          class="form-control mr-sm-5"
          type="text"
          v-model="searchMessage"
          placeholder="Recherche"
        />
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Recherche</button>
      </form>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      searchMessage: ""
    };
  },
  computed : {
    nbMessage(){
      return this.$store.state.alert.length;
    }
  },
  methods: {
    deconnexion() {
      delete localStorage.token;
      this.$store.dispatch("destroyInstanceAction");
      this.$router.push("/");
    },
    rechercheAmis() {
      const URL = "http://localhost:3000/search";

      const data = {
        search: this.searchMessage
      };

      const options = {
        method: "POST",
        headers: {
          Authorization: "Bearer " + localStorage.token,
          "Content-Type": "application/json"
        },

        body: JSON.stringify(data)
      };

      fetch(URL, options).then(response => {
        response
          .json()
          .then(data => {
            //do something with the response
          })
          .catch(errResponse => {
            //handle the error
          });
      });
    }
  }
};
</script>




<style scoped>
nav {
  height: 50px;
}

@media (max-width: 990px) {
  nav {
    height: 100%;
  }
}

</style>

