<template>
  <div>
    <div class>
      <div class="wrap">
        <div class="box one">
          <div class="row mb-1">
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 col-2">
              <div class="poster p1"></div>
            </div>
            <div class="date pt-3 col-md-8 col-sm-10 col-9 col-xl-10 col-lg-9 text-left">
              <h5>
                <strong>{{leaf.exp.username}}</strong>
                <small>. {{duration}}</small>
              </h5>
              <strong>
                <p>{{leaf.leaf}}</p>
              </strong>
              <div class="divImageArea">
                <img
                  src="https://pbs.twimg.com/media/D-uns6VWwAEx2vS?format=jpg&name=360x360"
                  alt
                  width="95%"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button class="btn btnLike">
                <strong class="text-dark pr-1 pb-1">{{leaf.likes}}</strong>
                <i class="fa fa-heart-o" style="font-size:20px;color:grey" aria-hidden="true"></i>
              </button>

              <button class="btn btnComment">
                <strong class="text-dark pr-1 pb-1">{{leaf.comment.length}}</strong>
                <i class="fa fa-comment-o" style="font-size:20px;color:grey" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <!-- <div>
            <p>Commentaire</p>
            <span class="glyphicon glyphicon-euro"></span>
            <input type="text" class="form-control">
          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["leaf"],
  mounted() {
    $(document).ready(() => {});
  },
  computed: {
    durationMin() {
      let date = new Date(this.leaf.date);
      let currentDate = new Date();
      return Math.floor((Math.abs(date - currentDate) / 3600000) * 60);
    },
    durationHours() {
      let date = new Date(this.leaf.date);
      let currentDate = new Date();
      return Math.floor(Math.abs(date - currentDate) / 3600000);
    },
    durationDay() {
      let date = new Date(this.leaf.date);
      let currentDate = new Date();
      return Math.ceil(Math.abs(date - currentDate) / 8640000000);
    },
    duration() {
      if (this.durationMin < 60) {
        return this.durationMin + "min";
      } else if (this.durationHours < 24) {
        return this.durationHours + "h";
      } else {
        return this.durationDay + "j";
      }
    }
  }
};
</script>

<style scoped>
.bodyCard {
  padding: 0;
  align-items: center;
}
.align-vertical-item {
  padding: 0;
  align-items: center;
}
.divImageArea {
  width: 100%;
  height: 340px;
  overflow: hidden;
}
.divImageArea img {
  border-radius: 14px;
}

.btnLike:hover {
  background-color: rgba(230, 95, 138, 0.1);
}

.btnComment:hover {
  background-color: rgba(47, 162, 243, 0.144);
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.conatiner {
  width: 100%;
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.box {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;

  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.box:hover {
  background-color: #f5f8fa;
  cursor: pointer;
}

.box .commentaire {
  color: #fff;
  padding: 30px;
  position: absolute;
  margin-top: 20%;
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  background: #78c2ad;
}

.date h4 {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}
.poster {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  position: relative;
  border-radius: 100px;
}
.poster h4 {
  top: 16px;
  color: #fff;
  position: relative;
  font-size: 80px;
  text-align: center;
  font-weight: 100;
}
.one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* POSTER*/
.p1 {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4e4376),
    to(#2b5876)
  );
  background: -webkit-linear-gradient(left, #4e4376, #2b5876);
  background: -o-linear-gradient(left, #4e4376, #2b5876);
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*  FOLLOW*/
.Follow {
  background: url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")
    no-repeat center / contain;
  width: 50px;
  height: 50px;
  bottom: 9px;
  right: 20px;
  display: block;
  position: fixed;
  border-radius: 50%;
  z-index: 999;
  animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* @media (max-width: 500px) {
  .divImageArea img {
    width: 95%;
    border-radius: 14px;
  }
} */
</style>
